*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(231, 231, 231);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.App {
  text-align: center;
}

